.category-name,
.category-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #acacac;
    font-size: 1rem;
  }

  input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff; // Matches Bootstrap's primary color
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
}

.modal-footer {
  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;

    &.btn-secondary {
      background-color: #6c757d;
      border-color: #6c757d;

      &:hover {
        background-color: #5a6268;
      }
    }

    &.btn-primary {
      background-color: #007bff;
      border-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
